.idea
.DS_STORE
/cmake-build-debug/
/cmake-build-release/
*.exr
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
python*
.vscode/
bin/
*.so
main

ext
CMakeLists.txt